# Python virtual environment
.venv/

# Bytecode / cache files (optional, common practice)
__pycache__/
*.pyc

.env

realtimesst.log

*.egg-info/

models/*

# Google Auth - NEVER commit these
credentials.json
token.json